.sticky {
  position: sticky;
  top: 0;
}

@media (min-width: 767px) {
  .euiPageSideBar {
    position: fixed;
    display: block;
    top: 80px;
    bottom: 0;
    width: 240px;
  }
  .euiPageBody {
    margin-left: 280px;
  }
}
@media (max-width: 767px) {
  .euiSideNav {
    display: none;
  }
}

h2::before {
  display: block;
  content: ' ';
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
  pointer-events: none;
}
